/* This is my CSS File */
html {
    height: 100%;
}

body {
    font-family: "Arial", sans-serif;
    color: #5f6368;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
} 

a {
    text-decoration: none;
    color:inherit;
}

ul, li{
    display: inline-block
}

.header{
    float:right;
    font-size: 13px;
    padding: 10px;
    white-space: nowrap;
    grid-row-start: 1;
    grid-row-end: 2;
}

.header li{
    padding-right: 20px;
}

.sign-in{
    background-color:#4285f4;
    color: #ffffff;
    padding: 7px 15px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 13px;
    border-style:none;
}

.grid-icon{
    width: auto;
    height : auto;
    max-height: 1.5em;
    align-content: center;
    vertical-align: bottom;
    opacity: .65;
}

section{
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 272px;
}

label{
    display: none;
}

#search{
    height: 40px;
    width: 550px;
    border-radius: 30px;
    margin:1em;
    border-color:#f2f2f2;
    border-style: solid;
}

.search-button{
    font-size: 14px;
    padding: 10px 18px;
    background-color: #f2f2f2;
    color: #5f6368;
    border-radius: 5px;
    margin: 20px 5px;
    border-style:none;
}

.footer {
    font-size: 13px;
    background-color: #f2f2f2;
    overflow:hidden;
    padding: 10px;
    grid-row-start: 3;
    grid-row-end: 4; 
}

.left-align{
    float: left;
}

.right-align{
    float: right;
}

.left-align li, .right-align li{
    padding-right: 20px;
}