/* This is my CSS File */
body {
    font-family: "Arial", sans-serif;
} 

section{
    text-align: center;
}
.sign-in{
    background-color:#4285f4;
    color: #ffffff;
}

ul, li{
    display: inline-block
}

.header{
    float:right;
}

.grid-icon{
    width: auto;
    height : auto;
    max-height: 1em;
    align-content: center;
    vertical-align: bottom;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.left-align{
    float: left;
}

.right-align{
    float:right;
}